<%- include('header') %>
<section class="row">
    <ul class="list-unstyled col-6 mx-auto">
        <% posts.forEach(function(list){ %>
        <li class="media pb-3 mb-3 border border-top-0 border-left-0 border-right-0">
            <img class="rounded  col-2 img-fluid" src="<%= list.avatar %>" alt="Generic placeholder image">
            <div class="media-body col-10">
                <h5 class="mt-0 mb-1"><%= list.title %></h5>
                <p>
                    <%= list.content %>
                </p>
                <div class="row text-secondary">
                    <p class="col">2015-10-15 10:55:30</p>
                    <div class="col text-right">
                        浏览(<%= list.pv %>) 留言(<%= list.comments.length %>)
                        <% if (user){ %>
                        <div class="dropdown d-inline-block">
                            <a href="javascript:;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-secondary">
                                +
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/">编辑</a>
                                <a class="dropdown-item" href="/">删除</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>
</section>
<%- include('footer') %>