<%- include('header') %>
<article class="row">
    <section class="col-6 mx-auto">
        <div class="media ">
            <img class="rounded  col-2 img-fluid" src="<%= post.author.avatar %>" alt="<%= post.author.name %>">
            <div class="media-body col-10">
                <h5 class="mt-0 mb-1"><%= post.title %></h5>
                <p>
                    <%= post.content %>
                </p>
                <div class="row text-secondary">
                    <p class="col"><%= post.create_at %></p>
                    <div class="col text-right">
                        浏览(<%= post.pv %>) 留言(<%= post.comments.length %>)
                        <% if (user && user._id == post.author._id){ %>
                        <div class="dropdown d-inline-block">
                            <a href="javascript:;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-secondary">
                                +
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/posts/<%= post._id %>/edit">编辑</a>
                                <a class="dropdown-item" href="/posts/<%= post._id %>/remove">删除</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="text-center">留言</h5>
        <hr>
        <ul class="list-unstyled">
            <% post.comments.forEach(function(list){ %>
            <li class="media pb-3 mb-3 border border-top-0 border-left-0 border-right-0">
                <img class="rounded  col-2 img-fluid" src="<%= list.author.avatar %>" alt="<%= list.author.name %>">
                <div class="media-body col-10">
                    <div class="mt-0 d-flex justify-content-between">
                        <p>
                            <span class="font-weight-bold"><%= list.author.name %></span>
                            &nbsp;&nbsp;
                            <span class="text-secondary"><%= list.create_at %></span>
                        </p>
                        <% if (user && user._id == list.author._id){ %>
                        <a href="/posts/<%= post._id %>/comment/<%= list._id %>/remove">删除</a>
                        <% } %>
                    </div>
                    <%= list.content %>
                </div>
            </li>
            <% }) %>
        </ul>
        <% if (user){ %>
        <form method="post" action="/posts/<%= post._id %>/comment">
            <div class="form-group">
                <label for="comment"></label>
                <textarea class="form-control" id="comment" rows="3" name="comment" placeholder="评论内容"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">留言</button>
        </form>
        <% } %>
    </section>
</article>
<%- include('footer') %>